ul#header-bio {
	font-size: 0;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		font-family: 'B612 Mono', monospace;
		font-size: 0.6875rem;
		line-height: 1.1875rem;		list-style: none;
		vertical-align: top;
	}
}
