/* Document */

* {
  margin : 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  min-height: 100%;
}

.page--wrapper {
  /* IE hack */
  display: flex;
  flex-direction: row;
}

.page {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}



/* Body */

.page--body {
  border-right: 1px solid transparent;
  border-left: 1px solid #eee;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 24px;
  width: 688px;
}

header {
  flex: none;
  order: 1;
}

nav {
  flex: none;
  margin: 1.5rem 0;
  order: 2;
}

main {
  flex: 1 0 auto;
  order: 3;
}

footer {
  flex: none;
  order: 4;
}



/* Typography */

main {
  line-height: 1.5rem;

  p,
  ul,
  li {
    margin: 0 0 1.5rem;
  }
}
